<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Workout Website</title>
  <link rel="stylesheet" href="/api/file/style.css">
</head>
<body>
  <h1 id="workout-name">Profile</h1>
  <div id="exercices-container" class="item-container">
  </div>
  <div class="navbar">
    <a href='/'>
      <img src="/api/file/dumbell.svg" alt="Workouts">
    </a>
    <button onclick="window.location.href = '/' + getCookie('username')">
      <img src="/api/file/profile.svg" alt="Profile">
    </button>
  </div>
  
  <script src="/api/file/script.js"></script>
  <script src="/api/file/popups.js"></script>
  </body>
</html>
