<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Workout Website</title>
  <link rel="stylesheet" href="/api/file/style.css">
</head>
<body>
  <h1>Workouts</h1>
  <div id="workouts-container" class="item-container">
  </div>
  <div id="action-container">
    <button id="workout-add-button" onclick="addWorkout()">+</button>
    <!-- <button id="edit" onclick="workoutEdit()">Edit</button> -->
  </div>

  <div class="navbar">
    <a href='/'>
      <img src="/api/file/dumbell.svg" alt="Workouts">
    </a>
    <button onclick="window.location.href = '/' + getCookie('username')">
      <img src="/api/file/profile.svg" alt="Profile">
    </button>
  </div>
  
  <script src="/api/file/script.js"></script>
  <script src="/api/file/workouts.js"></script>
  <script src="/api/file/popups.js"></script>
  <!--Exercice Search-->
  <script src="/api/file/workout.js"></script>
  <script src="/api/file/search.js"></script>
  <!---->
  <script>
    function addWorkout(){
      showPopup('<h2>Workout Type</h2><br><button onclick="createNewWorkout()" class="filled">Saved</button><button onclick="(() => {logExercicesList = []; LogExercices()})()" class="filled">Log Exercices</button>')
    }
    function createNewWorkout(){
      fetch('/api/addWorkout', {
        method: 'POST'
      })
      .then(response => response.json())
      .then(data => {
          renderWorkouts([{'name':'New Workout', 'description': 'Your new personal workout.'}])
          hidePopup()
      })
    }
    var logExercicesList = []
    function LogExercices(){
      showPopup(`
      <h2>Log Exercices</h2>
      <input id="dateSelector" style="width: 180px" type="date" />
      <br><br>
      <button onclick="LogExerciceNext()">Add Exercice</button>
      <br>
      <span id="exercices-list-span"></span>
      `)
      if (logExercicesList.length > 0){
        document.getElementById('exercices-list-span').innerText = '- ' + logExercicesList.join('\n')
      }
    }
    function LogExerciceNext(){
      var date = Math.floor(new Date(document.getElementById('dateSelector').value).getTime() / 1000);
      console.log(date)
      exercice = ExercicePopup((name) => {
        showWorkoutPopup({'name': name, 'weight':0, 'reps': 13, 'sets': 3}, (weight, sets, reps) => {
          logExercicesList.push(name)
          fetch("/api/submitExercice", {
            method: "POST",
            body: JSON.stringify({
              'exercice_name': name,
              'weight': weight,
              'sets': sets,
              'reps': reps,
              'timestamp': date,
              'workout_id': null
            }),
          })
          .then(resp => resp.json())
          .then(data => {
            LogExercices()
          })
        })
      })
    }
    function workoutEdit(){
      var editing;
      if (editing){
        alert('already editing')
      }
      else{
        document.getElementById('action-container').style.display = 'none'
        var workouts = document.getElementById('workouts-container').getElementsByTagName('div');
        for (let i=0; i<workouts.length; i++){
          console.log(workouts[i])
        }
      }
    }
    function loadWorkouts(){
      fetch('/api/workouts')
      .then(resp => resp.json())
      .then(response => response['data'])
      .then(workouts => {
        renderWorkouts(workouts)
      })
    }
    loadWorkouts()

  </script>
</body>
</html>