<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Workout Website</title>
  <link rel="stylesheet" href="/api/file/style.css">
</head>
<body>
  <h1 id="workout-name" style="display:inline"></h1>
  <button style="display:inline; margin-left: 20px; background-color: transparent;color: white; border:solid 1px white; font-size: 17px; padding: 5px" onclick="switchEdit()">Edit</button>
  <div id="exercices-container" class="item-container">
    
  </div>
  <div class="item-container">
    <div id="done-exercice">

    </div>
    <div onclick="addNewExercice()" id="add-exercice-button">
      Add Exercice
    </div>
  </div>
  <div class="navbar">
    <a href='/'>
      <img src="/api/file/dumbell.svg" alt="Workouts">
    </a>
    <button onclick="window.location.href = '/' + getCookie('username')">
      <img src="/api/file/profile.svg" alt="Profile">
    </button>
  </div>
  <script src="/api/file/script.js"></script>
  <script src="/api/file/popups.js"></script>
  <script src="/api/file/workout.js"></script>
  <script src="/api/file/search.js"></script>
  <script>
    var isEditing = false;
    function switchEdit(){
      isEditing = !isEditing;
      element = document.getElementById('submitButton')
      if (isEditing){
        document.body.classList.add('edit')
        element.innerText = 'Edit'
      }else{
        document.body.classList.remove('edit')
        element.innerText = 'Done'
      }
    }
    function loadExercices(){
      fetch('/api/workouts/'+last_segment())
      .then(resp => resp.json())
      .then(response => response['data'])
      .then(data => {
        document.getElementById('workout-name').innerText = data['title'];
        var parent = document.getElementById('exercices-container')
        console.log(data)
        innerHTML = ''
        for (let i=0; i<data['exercices'].length; i++){
          let exercice = data['exercices'][i]
          console.log(exercice)
          addExercice(
            parent,
            exercice
          )
        }
      })
    }
    loadExercices()
  </script>
  </body>
</html>
